.header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
box-sizing: border-box;
padding-left: 156px;
padding-top: 24px;
padding-bottom: 24px;
}

.span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0;
  padding-left: 0;
}

.link:focus {
  color: #404bbf;
}

.link:hover {
  color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.address {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
  padding-left: 0;
}

.address-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:hover {
  color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}

.button-section {
  background-color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
  box-sizing: border-box;
}

.button-section-heading {
  font-family: "Roboto", sans-serif;
  font-size: 56px;

  /* line-height: 60px; */
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;

  background: #4d5ae5;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

.main-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0;
}

.main-list {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
  padding-left: 0;
}

.main-list-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0;
}

.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  box-sizing: border-box;
}

.team-heading {
    font-family: "Roboto", sans-serif;
font-size: 36px;

/* line-height: 40px; */ 
line-height: 111%;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin: 0;
}

.team-description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  background-color: ;#FFFFFF;
  margin: 0;
}

.team-pic {
    background-color: #FFFFFF;
}


.portfolio {
  background-color: #fff;
}

.portfolio-paragraph {
    font-family: "Roboto", sans-serif;
font-size: 16px;

/* line-height: 24px; */ 
line-height: 150%;
letter-spacing: 0.02em;
color: #434455;
margin: 0;
}

.footer {
  background-color: #2e2f42;
}

.span-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin: 0;
}

a {text-decoration: none;}

ul {list-style: none;}



.header-container { 
border-bottom: 1px solid #e7e9fc;
width: 1440px;
height: 72px;
display: flex;
box-sizing: border-box;

}

.menu-nav {
 width: 261px;
height: 24px;
display: flex;
padding-left: 347px;
}

.menu-address {
display: flex;
padding-right: 156px;
}

.main-section {
  padding-top: 120px;
  padding-bottom: 120px;
  box-sizing: border-box;
}
.main-ul {
  display:flex;
}

.team-list {
  display: flex;
}

.portfolio-list {
  display: flex;
  box-sizing: border-box;
}