/* Header */
.header-box .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  box-sizing: border-box;
  padding-left: 156px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0;
  padding: 24px 0;
}

.link:focus {
  color: #404bbf;
}

.link:hover {
  color: #404bbf;
}

.address {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
  padding-left: 0;
}

.address-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  margin-right: 0;
}

.address-link:hover {
  color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}

.container-header {
  border-bottom: 1px solid #e7e9fc;
  width: 1440px;
  height: 72px;
  display: flex;
  box-sizing: border-box;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.menu-nav {
  display: flex;
  gap: 40px;
}

.menu-address {
  display: flex;
  gap: 40px;
}

.header-box {
  border-bottom: 1px solid #e7e9fc;
}

.header-navigation {
  display: flex;
  align-items: center;
}

/* Section 1 */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.button-section {
  background-color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
  box-sizing: border-box;
  padding: 188px 0;
}

.button-section-heading {
  font-family: "Roboto", sans-serif;
  font-size: 56px;

  /* line-height: 60px; */
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0;
  max-width: 496px;
  margin-left: 472px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;

  background: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  margin-left: 636px;
  padding: 16px 32px;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

/* Section 2 */
.main-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.main-list {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
  padding-left: 0;
}

.main-list-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.container-main-list-heading {
  padding: 32px 0;
}

.main-section {
  padding-top: 120px;
  padding-bottom: 120px;
  box-sizing: border-box;
}
.main-ul {
  display: flex;
  gap: 24px;
}

.main-list-ul {
  flex-basis: calc((100%-3 * 24px) / 4);
}

/* Section 3 */

.team-list {
  display: flex;
  gap: 24px;
}

.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  box-sizing: border-box;
  padding: 120px 0;
}

.team-heading {
  font-family: "Roboto", sans-serif;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list-heading {
  text-align: center;
  margin-bottom: 8px;
}

.team-description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
  text-align: center;
}

.team-pic {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.container-team {
  padding: 32px 0;
}

/* Section 4 */
.portfolio {
  background-color: #fff;
  padding: 120px 0 120px 0;
}

.portfolio-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.container-portfolio-item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* Footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-header {
  display: inline-block;
  margin-bottom: 16px;
}

.span-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  /* line-height: 21px; */
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin: 0;
  max-width: 264px;
}

.container-footer {
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}
